<!DOCTYPE html>
<html>
<html lang="en-US">
<head>
    <link rel="stylesheet" th:href="@{'/css/' + ${style.styleID} + '.css'}">
</head>

<body>

<div th:switch="${styles}">
    <h3 th:case="null">No Styles Yet</h3>

    <div th:case="*">
        <p> Change Style: <a th:each="style : ${styles}" th:href="@{'/demo/' + ${style.styleID}}"
                             th:text="${style.name} + '   ||   '"></a></p>
    </div>

</div>

<br/>

<h1>H1 Example</h1>
<h2>H2 Example</h2>
<h3>H3 Example</h3>
<p>Paragraph text</p>

<br/>
<br/>

<div>
    <h3>Create New Style</h3>
    <form action="/css" method="post">
        <label for="name">Style Name:</label>
        <input type="text" id="name" name="name"><br/><br/>
        <label for="bodyBackgroundColor">Background Color:</label>
        <input type="text" id="bodyBackgroundColor" name="bodyBackgroundColor"><br/><br/>
        <label for="h1Color">H1 Color:</label>
        <input type="text" id="h1Color" name="h1Color"><br/><br/>
        <label for="h2Color">H2 Color:</label>
        <input type="text" id="h2Color" name="h2Color"><br/><br/>
        <label for="h3Color">H3 Color:</label>
        <input type="text" id="h3Color" name="h3Color"><br/><br/>
        <label for="pColor">Paragraph Color:</label>
        <input type="text" id="pColor" name="pColor"><br/><br/>
        <input type="submit" value="Submit">
    </form>
</div>
</body>

</html>