body {
  font-family: "Helvetica", Sans-Serif;
  background-color: [(${bodyBackgroundColor})];
}

/* Header Title */
.header {
  padding: 40px;
  text-align: center;
  background: #f9f7f7;
  margin:30px;
  font-size:20px;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that float next to each other */
h1 {
color: [(${h1Color})];
}
h2 {
  color: [(${h2Color})];;
  }
h3 {
  color: [(${h3Color})];
}
p {
  color: [(${pColor})];;
}

