body {
  font-family: "Helvetica", Sans-Serif;
  background-color: [(${style.bodyBackgroundColor})];
}

/* Header Title */
.header {
  padding: 40px;
  text-align: center;
  background: #f9f7f7;
  margin:30px;
  font-size:20px;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that float next to each other */
h1 {
color: [(${style.h1Color})];
}
h2 {
  color: [(${style.h2Color})];
  }
h3 {
  color: [(${style.h3Color})];
}
p {
  color: [(${style.pColor})];
  color: [(${style.pColor})];
}

